* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* background: linear-gradient(to right,
            #748ebd, #3d226e); */
    background-image: url(./pasteis.jpg);
    background-size: contain;

}

.container {
    position: absolute;
    width: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: rgba(160, 129, 89, 0.7);
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
    color: rgb(34, 26, 19);
    font-family: 'Poppins',
        sans-serif;
}

h2,
h3,
h4,
h6 {
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"] {
    width: 100px;
    font-weight: 600;
    color: blueviolet;
    padding: 10px 0;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button {
    width: 120px;
    padding: 15px 0;
    border-radius: 5px;
    background-color: burlywood;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
}

p {
    font-weight: 400;

}